<div class="col-sm-12" style="margin-top: 20px; margin-bottom: 20px;" ng-if="($ctrl.workplaces | filter:$ctrl.search).length == 0">
    <div class="alert alert-warning">No result found, please try again</div>
</div>

<div class="col-md-6 d-lg-none" style="margin-top: 20px;" ng-repeat="workplace in $ctrl.workplaces | filter:$ctrl.search">                    
    <div class="card mb-3">
        <div class="card-body" ng-class="{'text-danger': (workplace.survey_status === 'Not Started'), 'text-success': (workplace.survey_status === 'Completed'), 'text-warning': (workplace.survey_status === 'In Progress')}">
            <h4 class="card-title">{{workplace.site_id}} - <small>{{workplace.survey_status}}</small></h4>
            <p class="card-text small"><strong>Admin workplace to</strong> : {{workplace.admin_assign_to}}<br>
            <strong>Currently assigned to</strong> : {{workplace.current_survey_user}}<br>
            <strong>Due Date</strong> : {{workplace.survey_due_date | date}}<br>
            
            <strong>Currently assigned to</strong> : {{workplace.asbestos_user}}<br>
            <strong>Due Date</strong> : {{workplace.asbestos_due_date}}</p>
            <strong>Asbestos Register Status</strong> 
            <button class="btn btn-block" ng-class="{'btn-danger': (workplace.asbestos_status === 'Not Started'),'btn-success': (workplace.asbestos_status === 'Completed'), 'btn-warning': (workplace.asbestos_status === 'In Progress'), 'btn-dark': (workplace.asbestos_status === 'Not Assigned')}">{{workplace.asbestos_status}}</button>
        </div>
        <div class="card-footer"><a class="btn btn-success btn-block" ng-href="{{baseUrl}}asbestos_list/{{workplace.id}}">Workplace</a></div>
    </div>
</div>

<div class="col-sm-12 d-none d-lg-block" style="margin-top: 20px;" ng-if="($ctrl.workplaces | filter:$ctrl.search).length != 0">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Workplace ID</th>
                <th>Admin workplace to</th>
                <th>Asbestos Workplace Status</th>
                <th>Currently assigned to</th>
                <th>Due Date</th>
                <th>Asbestos Register Status</th>
                <th>Currently assigned to</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="workplace in $ctrl.workplaces | filter:$ctrl.search">
                <td scope="row">{{workplace.site_id}}</td>
                <td scope="row">{{workplace.admin_assign_to}}</td>
                <td scope="row">
                    <div class="alert text-center" ng-class="{'alert-danger': (workplace.survey_status === 'Not Started'), 'alert-success': (workplace.survey_status === 'Completed'), 'alert-warning': (workplace.survey_status === 'In Progress')}">
                    {{workplace.survey_status}}
                    </div>
                </td>
                <td scope="row">{{workplace.current_survey_user}}</td>
                <td scope="row">{{workplace.survey_due_date | date}}</td>
                <td scope="row">
                <div class="alert text-center" ng-class="{'alert-danger': (workplace.asbestos_status === 'Not Started'),'alert-success': (workplace.asbestos_status === 'Completed'), 'alert-warning': (workplace.asbestos_status === 'In Progress'), 'alert-dark': (workplace.asbestos_status === 'Not Assigned')}">
                    {{workplace.asbestos_status}}
                    </div>
                </td>
                <td scope="row">{{workplace.asbestos_user}}</td>                        
                <td scope="row">{{workplace.asbestos_due_date}}</td>
                <td>
                    <a class="btn btn-success btn-block" ng-href="{{baseUrl}}asbestos_list/{{workplace.id}}">Workplace</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>