<!-- Modal -->
<div class="modal fade" id="dlgAlert" tabindex="-1" role="dialog" aria-labelledby="dlgAlertLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dlgAlertLabel">{{$ctrl.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">{{$ctrl.message}}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-if="!$ctrl.url">Close</button>
                <a class="btn btn-secondary" ng-if="$ctrl.url" data-dismiss="modal" ng-click="$ctrl.redirctModal($ctrl.formAlert.url)">Close</a>
            </div>
        </div>
    </div>
</div>