<div class="card">
    <div class="card-header">
        <h5>Search Workplace</h5>
    </div>
    <div class="card-block" style="padding:20px;">
        <div class="row">
            <div class="col-md-4">
                <label>Search Workplace ID</label>
                <input type="text" class="form-control" id="search_site_id" name="search_site_id" ng-model="$ctrl.search.site_id" placeholder="Search Workplace ID">
            </div>
            <div class="col-md-4">
                <label>Filter Asbestos Workplace Status</label>
                <select class="form-control" name="survey_status" id="survey_status" ng-model="$ctrl.search.survey_status">
                    <option value="">Please Select</option>
                    <option value="Not Started">Not Started</option>
                    <option value="In progress">In progress</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="due_date">Filter Asbestos Register Status</label>
                <select class="form-control"  name="asbestos_status" id="asbestos_status" ng-model="$ctrl.search.asbestos_status">
                    <option value="">Please Select</option>
                    <option value="Not Assigned">Not Assigned</option>
                    <option value="Not Started">Not Started</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
        </div>
    </div>
</div>