<!-- As a link -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" ng-if="$ctrl.role === 'Company Admin'" href="./asbestos/home">icomp.li</a>
        <a class="navbar-brand" ng-if="$ctrl.role !== 'Company Admin'" href="./asbestos/mySurvey">icomp.li</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0" ng-if="$ctrl.top_menu && ((!$ctrl.company_name) || ($ctrl.company_name !== 'ISO27001'))">
                <li class="nav-item" ng-if="$ctrl.loginMenu"><a class="nav-link active"><b>Welcome {{name}}</b></a></li>
                <li class="nav-item" ng-if="$ctrl.role === 'Company Admin' && $ctrl.loginMenu"><a class="nav-link" href="./asbestos/home">Manage Workplaces</a></li>
                <li class="nav-item" ng-if="$ctrl.role !== 'Super Admin' && $ctrl.loginMenu"><a class="nav-link" href="./asbestos/mySurvey">Surveys</a></li>
                <li class="nav-item" ng-if="$ctrl.role === 'Company Admin' && $ctrl.loginMenu"><a class="nav-link" href="./asbestos/schedule">Survey Agenda</a></li>
                <li class="nav-item" ng-if="$ctrl.role === 'Company Admin' && $ctrl.loginMenu"><a class="nav-link" href="./asbestos/reporting">Reporting</a></li>
                <li class="nav-item" ng-if="$ctrl.role === 'Company Admin' && $ctrl.loginMenu"><a class="nav-link" href="./admin-user">Administration Users</a></li>
                <li class="nav-item" ng-if="$ctrl.role !== 'Super Admin'"><a class="nav-link" href="./asbestos/guide">Help Guide</a></li>
                <li class="nav-item" ng-if="$ctrl.role !== 'Super Admin' && $ctrl.loginMenu"><a class="nav-link" href="./support">Support</a></li>
          
                <li class="nav-item" ng-if="$ctrl.role === 'Super Admin' && $ctrl.loginMenu"><a class="nav-link" href="./admin/customer">Customer Profile</a></li>
                <li class="nav-item" ng-if="$ctrl.loginMenu"><a class="nav-link pointer" ng-click="$ctrl.logout()">Log Out</a></li>
          </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0" ng-if="top_menu && company_name === 'ISO27001'">
                <li class="nav-item" ng-if="$ctrl.loginMenu"><a class="nav-link active"><b>Welcome {{$ctrl.name}}</b></a></li>
                <li class="nav-item" ng-if="$ctrl.loginMenu"><a class="nav-link pointer" ng-click="$ctrl.logout()">Log Out</a></li>
            </ul>
        </div>
      </nav>