<div id="sidebar" class="col-md-2">
  <ul class="nav flex-column">
    <li class="nav-item" ng-if="$ctrl.loginMenu"><a class="nav-link active"><b>Welcome {{name}}</b></a></li>
    <li class="nav-item" ng-if="$ctrl.role === 'Company Admin' && $ctrl.loginMenu"><a class="nav-link" href="./asbestos/home">Manage Workplaces</a></li>
    <li class="nav-item" ng-if="$ctrl.role !== 'Super Admin' && $ctrl.loginMenu"><a class="nav-link" href="./asbestos/mySurvey">Surveys</a></li>
    <li class="nav-item" ng-if="$ctrl.role === 'Company Admin' && $ctrl.loginMenu"><a class="nav-link" href="./asbestos/schedule">Survey Agenda</a></li>
    <li class="nav-item" ng-if="$ctrl.role === 'Company Admin' && $ctrl.loginMenu"><a class="nav-link" href="./asbestos/reporting">Reporting</a></li>
    <li class="nav-item" ng-if="$ctrl.role === 'Company Admin' && $ctrl.loginMenu"><a class="nav-link" href="./admin-user">Administration Users</a></li>
    <li class="nav-item" ng-if="$ctrl.role !== 'Super Admin'"><a class="nav-link" href="./asbestos/guide">Help Guide</a></li>
    <li class="nav-item" ng-if="$ctrl.role !== 'Super Admin' && $ctrl.loginMenu"><a class="nav-link" href="./support">Support</a></li>

    <li class="nav-item" ng-if="$ctrl.role === 'Super Admin' && $ctrl.loginMenu"><a class="nav-link" href="./admin/customer">Customer Profile</a></li>
    <li class="nav-item" ng-if="$ctrl.loginMenu"><a class="nav-link pointer" ng-click="$ctrl.logout()">Log Out</a></li>
  </ul>
</div>