<div class="card">
    <div class="card-header">
        <h5>Assign Workplace</h5> 
    </div>
    <div class="card-block" style="padding:20px;">
        <form name="assing_survey">
        <div class="row">
            <div class="col-md-3">
                <label for="workplace">Workplace: (Workplace ID)</label>
                <input type="text" class="form-control" id="workplace" name="workplace" ng-model="assignSurvey.work" placeholder="Workplace" required ng-readonly="assigning">
                <div class="error" ng-show="assing_survey.workplace.$touched && assing_survey.workplace.$invalid"><small>Please provide a valid Workplace.</small></div>
            </div>
            <div class="col-md-4">
                <label for="email">Survey Responsible Person Email</label>
                <input type="email" class="form-control" id="email" name="email" ng-model="assignSurvey.email" placeholder="Survey Responsible Person Email" required ng-readonly="assigning">
                <div class="error" ng-show="assing_survey.email.$touched && assing_survey.email.$invalid"><small>Please provide a valid Email.</small></div>
            </div>
            <div class="col-md-3">
                <label for="due_date">Due Date for Workplace Survey</label>
                <input class="form-control" id="due_date" name="due_date" 
                    format="DD/MM/YYYY"
                    ng-model="assignSurvey.due_date"
                    placeholder="Select a Date..."
                    moment-picker="assignSurvey.due_date" required ng-readonly="assigning">

                <div class="error" ng-show="assing_survey.due_date.$touched && assing_survey.due_date.$invalid"><small>Please provide a due date.</small></div>
            </div>
            <div class="col-md-2">
                <label class="d-none d-sm-block">&nbsp;</label>
                <button ng-hide="assigning" ng-class="{'pointer': !assing_survey.$invalid}" ng-click="$ctrl.submitAssigned(assignSurvey)" class="btn btn-primary" ng-disabled="assing_survey.$invalid">Assign</button>
                <button ng-show="assigning" class="btn btn-primary" disabled>Assigning</button>
            </div>
        </div>
        </form>
    </div>
</div>