<app-loader loader="$ctrl.loader"></app-loader>
<div class="wrapper container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="col-lg-2 sidebar-offcanvas d-none d-lg-block">
            <app-nav-side></app-nav-side>
        </div>
        <!-- /sidebar -->

        <!-- main right col -->
        <div class="col-md-10 col-lg-10" id="main">
            <div class="row">
                <div class="col-sm-12">
                    <app-assign-workplace loader="$ctrl.loader" message="$ctrl.alertMessage" title="$ctrl.alertTitle" url="$ctrl.alertUrl"></app-assign-workplace>
                </div>
                <div class="col-sm-12" style="margin-top: 20px;">
                    <app-search-listing search="$ctrl.search"></app-search-listing>
                </div>
            </div>
            <app-home-listing search="$ctrl.search" loader="$ctrl.loader" class="row"></app-home-listing>
        </div>
        <!-- /main -->
    </div>
</div>
<!-- <div ng-include="'template/dlgAddAsbestose.html'"></div> -->
<dlg-alert message="$ctrl.alertMessage" title="$ctrl.alertTitle" url="$ctrl.alertUrl"></dlg-alert>