@import 'variable';
@import 'navigation_side';
@import 'scheduler';

#login_form{
  .btn{
    width:80%;
  }
}

.error{
	color:$red;
}

.bottom-button{
    @media (min-width: $screen-sm) {
		position: absolute;
	    bottom: 0;
    }
}
.card.card-padding > .card-block{
	padding:10px;
}

.uppercase{
	text-transform: uppercase;
}
.re-initialise{
	text-transform: initial;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
}


form{
    padding-bottom:20px;
    h5{
        font-size: 1rem;
        margin-top: 10px;
    }
}
.panel-help{
    h1{
        font-size: 12px;
        font-weight: bold;
    }
    padding: 10px;
    margin-bottom: 5px;
    font-size: 80%;
    font-weight: 400;
    flex: 1 1 auto;
}
.panel-first{
    background-color: $light-grey   
}
.panel-second{
    background-color: $light-blue;    
}

.form-check {
    display: inline-block;
    margin-right: 1rem;
}
.invalid-feedback,
label {
    display: block;
}
formgroup{
    margin-bottom: 10px;
    display: block;
}
.pointer{
  cursor: pointer;
}
.navbar-brand{
    background: url("/img/logo.png") no-repeat;
    width: 175px;
    display: block;
    text-indent: -9999px;
    background-size: 123px 44px;
}
form button,
.modal button.btn{
    @extend .pointer;
}
.table {
    th{
        text-transform: capitalize;
    }
}

body {
    padding-top: 50px;
}
.panel-questions{
    border:1px solid $grey-lgt;
    height: 100%;
    padding: 10px;
}
.fill-content{
    display: flex;
    flex-flow: column;
}
.fixed{
    position: fixed;
    z-index: 1000;
}
.formBar{
    padding-top: 17px;
    padding-bottom: 13px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    right: 0;
    background: $grey-dk;
    color: $white;
}
.bar-form{
    margin-top: 60px;
}

table .alert{
    padding:8px;
}

.form-section{
    margin-bottom: 10px;
}

.loading {
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: darkgrey;
    opacity: 0.7;
    top: 0; }

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px; }

@keyframes spin {
    0% {
        transform: rotate(0deg); }
    100% {
        transform: rotate(360deg); } }
.table a {
    cursor: pointer; }
.modal-title{
    &:first-letter {
        text-transform: uppercase;
    }
}

body .moment-picker{
    z-index: 11111;
}

.card-report{
    padding:20px;
    min-height: 130px;
}
.toplogo{
    margin-top: 40px;
}

.objective-description{
    background-color: #adeaad;
    border: none;
}
.margin-fix{
    margin-bottom: 10px;
}

// scheduler 2 updates
.calendar{
    .not-started{
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    .in-progress{
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }

    .completed{
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

}
